
body{

	background-color:lightblue;

}

#mainbutton{

	margin-left: 4%;
	margin-bottom:1%;
	background-color:lightblue;
	color: black;
	padding: 10px 13px;
	display: inline-block;
	font-size: 23px;

}

#lightbulb.png{

	float:left;
	margin-left:2%;
	margin-top: 10px;
	max-width:23%;
	max-height:23%;

}
